<div class="content pokemon-container">
  <h1>TESTE</h1>
  <main class="pokemons-content">
    <div class="pokemon-card" *ngFor="let pokemon of pokemons">
      <img [src]="pokemon.Art_url" [alt]="pokemon.Name">
      <div class="pokemon-info">
        <small>#{{ pokemon.Number }}</small>
        <p>{{ pokemon.Name }}</p>
      </div>
      <div class="pokemon-types">
        <button type="button" *ngFor="let type of pokemon.Types" [ngStyle]="{'background': getColor(type)}">{{ type }}</button>
      </div>
    </div>
  </main>
</div>
