.pokemon-container {
  display: flex;
  flex-direction: column;

  main.pokemons-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
  }

  div.pokemon-card {
    text-align: start;

    img {
      background: rgb(245, 242, 242);
      width: 155px;
    }

    div.pokemon-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
    }

    div.pokemon-types {
      display: flex;
      justify-content: center;

      margin-top: 5px;

      button {
        border-radius: 8px;
        outline: 0;
        width: 60px;
      }
    }
  }
}
