<footer class="footer-container">
  <div class="content">

    <div class="links-container">
      <a
        href="https://www.linkedin.com/in/leonardo-vin%C3%ADcius-loiola-de-oliveira-5a64b5136/"
        target="__blank"
        title="LinkedIn"
      >
        <img src="./assets/linkedin.png" alt="pokemon" />
      </a>

      <a href="https://github.com/LeonardoVini" target="__blank" title="GitHub">
        <img src="./assets/github.png" alt="pokemon" />
      </a>

      <a
        href="https://www.facebook.com/leonardo.vinicius.3154"
        target="__blank"
        title="Facebook"
      >
        <img src="./assets/facebook.png" alt="pokemon" />
      </a>

      <a href="https://angular.io/" target="__blank" title="Angular.io">
        <img src="./assets/angular.png" alt="pokemon" />
      </a>

      <a href="https://pokeapi.co/" target="__blank" title="PokéAPI">
        <img src="./assets/pokeball.png" alt="pokemon" />
      </a>
    </div>

    <div class="footer-infos">
      <p>Pokémon and Pokémon character names are trademarks of Nintendo</p>
      <p>Created, Developed and Designed by Leonardo Oliveira</p>
    </div>
  </div>


</footer>
