.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 990px;
  margin: 0 auto;
  padding: 0 30px;
  height: 100vh;

  section.pokemon-content {
    display: flex;
    flex-direction: column;

    max-width: 400px;

    button {
      margin-top: 30px;
      height: 60px;
      background: #6c7bcf;
      border: 0;
      color: #FFF;
      font-size: 24px;
      border-radius: 18px;
      transition: opacity 0.3s;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}
