.content {
  display: flex;
  flex-direction: column;
  height: 100vh;

  h1 {
    margin: 40px auto 20px
  }

  div.pokemon-container {
    display: flex;
    justify-content: space-between;

    padding: 10px;

    div.pokedex-container {
      display: flex;
      flex-direction: column;

      h2 {
        margin: 0 auto;
      }

      div.pokedex-wrapper {
        display: flex;

        app-pokedex-data {
          margin-right: 60px;
        }
      }
    }
  }
}

div.pokemon-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    transition: opacity 0.2s;
    width: 400px;

    &:hover {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }

    @keyframes shake {
      10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }

      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }

      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }

      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
    }
  }
}
