<app-header></app-header>

<div class="content" *ngIf="pokemon">
  <h1>{{ pokemon.name | titlecase }}</h1>

  <div class="pokemon-container">
    <div class="pokemon-images">
      <img [src]="pokemon.image" [alt]="pokemon.name" />
    </div>

    <div class="pokedex-container">
      <h2>Pokédex Data</h2>

      <div class="pokedex-wrapper">
        <app-pokedex-data
          [pokemon]="pokemon"
          [pokemon_species]="pokemon_species"
        >
        </app-pokedex-data>

        <app-pokedex-more-data
          [pokemon]="pokemon"
          [pokemon_species]="pokemon_species"
        >
        </app-pokedex-more-data>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
